.headerTitle {
  color: #ffffff;
  font-size: 24px;
}

.content {
  margin: 16px;
  min-height: 100vh;
}

.bodyCard {
  height: 100vh;
  border-radius: 15px;
}

.contentBody {
  margin: 20px;
}

.contentBody .title {
  text-align: center;
}

.workspace {
  margin: 30px;
}